{% extends 'base.html' %}
{% load static %}
{% load django_tables2 %}

{% block title %}{{ block.super }} - GitProjects{% endblock title %}

{% block css %}{% endblock css %}

{% block headers %}GitProjects{% endblock headers %}

{% block headerbuttons %}{% endblock headerbuttons %}

{% block content %}

<div id="idGitProjectsStanding" class="no-display">

  {% comment %} {{ projects|json_script:"project-data"}} {% endcomment %}
  {% render_table table %}

</div>

{% endblock content %}

{% block js %}

<script src="{% static '/pages/gitsvn/gitsvn.js' %}" defer></script>

<script>
  document.getElementById("idGitProjectsStanding").classList.remove("no-display")
  dataTablesJS("#idGitlabProjects")

</script>

{% endblock js %}
