{% load static %}

<link rel="stylesheet" href="{% static '/dist/css/bootstrap.min.css' %}">

<!-- Datatables -->
<link rel="stylesheet" type="text/css"
href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.4/r-2.2.9/datatables.min.css" />

<!-- Bootstrap Icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

<link rel="stylesheet" href="{% static '/dist/css/navbar-top-fixed.css' %}">

<link rel="stylesheet" href="{% static '/pages/base.css' %}">

