{% load static %}

<!-- jQuery -->
<script src="{% static 'dist/js/jquery.min.js' %}" type="application/javascript"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.4/r-2.2.9/datatables.min.js"
  type="application/javascript">
</script>

<script type="application/javascript" src="{% static '/dist/js/bootstrap.bundle.js' %}"></script>

<script type="application/javascript" src="{% static '/pages/index.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
