<div aria-live="polite" aria-atomic="true" class="position-relative">
  <div class="toast-container top-0 end-0 p-3">

    {% if messages %}
    {% for message in messages %}

    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true"
      data-bs-delay="5000">
      <div class="toast-header {{message.tags}} text-dark">
        <strong class="me-auto textColor">{{message.tags|upper}}</strong>
        <small class="text-white">{% now "j/n/Y, H:i:s A" %}</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">{{ message }}</div>
    </div>
    {% endfor %}

    {% endif %}

  </div>
</div>
