<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
  <div class="container-fluid">

    <button class="navbar-toggler-icon" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
    </button>

    <a class="navbar-brand" href="{% url 'home:home_list_view' %}">Fixed navbar</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'home:home_list_view' %}">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'misc:misc-fifa' %}">FIFA</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Git
          </a>
          <ul class="dropdown-menu">
            <li><h4 class="mx-2">Projects</h4></li>
            <li><a class="dropdown-item" href="{% url 'git:git-projects' %}">List projects</a></li>
            <li><hr class="dropdown-divider"><h4 class="mx-2">Issue</h4></li>
            <li><a class="dropdown-item" href="{% url 'git:git-issue-list' %}">List issues</a></li>
            <li><a class="dropdown-item" href="{% url 'git:git-issue-create' %}">Create issues</a></li>
            <li><a class="dropdown-item" href="{% url 'git:git-issue-edit' %}">Retrieve issues</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Health
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'health:health-home' %}">Health</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>


      </ul>
      <li class="d-flex nav-item dropdown text-decoration-none">
        <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown" aria-expanded="false"
          >{{request.user.get_full_name}}</a>
        <ul class="dropdown-menu dropdown-menu-end mx-0 shadow w-220px">
          <li><a class="dropdown-item d-flex gap-2 align-items-center" href="{% url 'admin:index' %}"><i
                class="fa-solid fa-user-doctor"></i> Admin</a></li>
          <li><a class="dropdown-item d-flex gap-2 align-items-center" target="_blank" href="{% url 'api:swagger-ui' %}"><i
                class="fa-solid fa-tape"></i> Api</a></li>
          <li><a class="dropdown-item d-flex gap-2 align-items-center" href="#"><i
                class="bi bi-person"></i> Profile</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item d-flex gap-2 align-items-center" href="{% url 'logout' %}"><i
                class="bi bi-box-arrow-right"></i> Logout</a></li>
        </ul>
      </li>
    </div>

</nav>


<div class="offcanvas offcanvas-start text-bg-dark" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
  aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>Try scrolling the rest of the page to see this option in action.</p>
  </div>
</div>

</div>
