{% extends 'base.html' %}
{% load static %}

{% block title %}{{ block.super }} - Home{% endblock title %}

{% block css %}

<link rel="stylesheet" href="{% static '/pages/home/home.css' %}">

{% endblock css %}

{% block headers %}Home{% endblock headers %}

{% block headerbuttons %}{% endblock headerbuttons %}

{% block content %}

<div class="container-fluid no-display" id="idHomeContainer">
  <div class="row">
    {% include 'dashboard/section/iss.html' %}
    {% include 'dashboard/section/ip.html' %}
  </div>

  <div class="b-divider"></div>

  <div id="idTodo" class="row">
    {% include 'dashboard/section/todo.html' %}
  </div>

  <div class="b-divider"></div>

  <div id="idFifaStanding"></div>

  <div class="b-divider"></div>
</div>

{% endblock content %}

{% block js %}

<script src="{% static '/pages/home/home.js' %}" defer></script>

{% endblock js %}
